<style>
    h1{
        text-align: center;
        font-family: Roboto;
        font-size: 4vh;
        color: #ffffff;
    }
    .inputs{
        height: 4vh;
        width: 40%;
        border-radius: 20px;
        border-width: 0;
        text-align:center; 
        margin-bottom:3vh;
    }

</style>

<div>
    <h1>
        Log in
    </h1>
</div>

<div>
    <form style = 'text-align:center;' method = "post">
        <input class = 'inputs' type="text" name="user" placeholder="Enter Username"><br>
        <input class = 'inputs' type="text" name="pass" placeholder="Enter Password"><br>
        <input type="submit" name="login" value="Login">
    </form>
</div>